.page-content{
    padding: 20px 20px;
    width: 84%;
    float: right;
    @media(max-width:1400px){
        min-width:80%;
    }
    form{
        input,textarea{
            margin-bottom:20px;
        }
        .form-group{
            margin:20px 0;
            padding:20px 0;
            border-bottom: 1px solid #ccc;
            .star{
                color:red
            }
            label{
                margin-bottom:20px
            }
            textarea{
                min-height:150px;
            }
            .fr-wrapper.show-placeholder{
                min-height:150px;
            }
        }
    }
    .box-content{
        background-color: rgb(241, 241, 241);
        padding:20px 10px;
        margin:30px auto;
    }
    .site-style{
        input[type="color"]{
            height:49px;
        }
        .head{
            h3{
                color:#333;
                font-size:25px;
                margin-bottom: 20px;
                &:after{
                    content:'';
                    display: block;
                    margin:10px 0;
                    height:2px;
                    width:100px;
                    background-color:#333
                }
            }
        }
        .form-group {
            margin:  0;
            padding:  0;
            border:0
        }
    }
    .social-media{
        li{
            display: inline-block;
            margin:10px 20px;
            &:hover{
                a{
                    color:red !important;
                }
            }
            a{color:#333 !important;font-size: 25px;}
        }
    }
}